#pigeon-wrapper {
  position: fixed;
  top: 15px;
  right: 15px;
  border: 2px solid #288bff;
  font-size: 16px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #288bff;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

#pigeon-wrapper:hover {
  background-color: #288bff;
  color: #ffffff;
  border-color: #ffffff;
}
